<div class="main-content">
    <div class="container-fluid">

       
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Lista de Gender</h4>
                        <p class="category">Configuração de gender</p> 
                        <br/>
                        <button type="button" class="btn btn-info btn-fill pull-left" (click)="newRegister()">Novo</button><br/>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                                    <th>{{ tableData1.headerRow[1] }}</th>
                                    <th>{{ tableData1.headerRow[2] }}</th>
                                    <th>{{ tableData1.headerRow[3] }}</th>
                                    <th class="text-right">{{ tableData1.headerRow[4] }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of listResult">
                                    <td class="text-center">{{ row.id }}</td>
                                    <td>{{ row.description }}</td>
                                    <td>{{ row.language }}</td>
                                    <td>{{ row.enable }}</td>
                                    <td class="td-actions text-right">
                                        <a rel="tooltip" title="View" class="btn btn-info btn-simple btn-xs" (click)="viewRegister(row.id)">
                                            <i class="fa fa-user"></i>
                                        </a>
                                        <a rel="tooltip" title="Edit" class="btn btn-success btn-simple btn-xs" (click)="editRegister(row.id)">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" (click)="removeRegister(row.id)"> 
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>