<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <h4 class="title">Gender</h4>
                        <p class="category">Lista de Gender</p>
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                            <div class="content table-responsive table-full-width">
                                <button type="button" class="btn btn-info btn-fill pull-left"
                                    (click)="newRegister()">Novo</button>
                            </div>
                        </div>
                        <!--      INI Data Table   -->
                        <custom-genericdatatablegrid [dataTableIn]="this.dataTable"></custom-genericdatatablegrid>
                        <!--      FIM Data Table   -->
                    </div>
                    <!-- end content  -->
                </div>
                <!--  end card  -->
            </div>
        </div>
    </div>
</div>