<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title" class="lead pb-3" *ngIf="!isUpdateRegister && !isModeViewForm">
                            Add New Patient
                        </h4>
                        <h4 class="title" class="lead pb-3" *ngIf="isUpdateRegister">
                            Edit Patient
                        </h4>
                        <h4 class="title" class="lead pb-3" *ngIf="isModeViewForm">
                            View Patient
                        </h4>
                    </div>
                    <div class="content">
                        <form #rF="ngForm" [formGroup]="registerForm">
                            <div class="row">
                                 
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email:</label> <span class="star">*</span>
                                        <input type="email" class="form-control" id="email" name="email"
                                            formControlName="email" maxlength="100"
                                            [ngClass]="!isValidFormEmail() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormEmail()" class="text-danger">
                                            Email is required
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="addressCep">CEP:</label> <span class="star">*</span>
                                        <input type="text" class="form-control" id="addressCep" name="addressCep"
                                            formControlName="addressCep" maxlength="100"
                                            [ngClass]="!isValidFormAddressCep() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormAddressCep()" class="text-danger">
                                            CEP is required
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="addressCity">City:</label> <span class="star">*</span>
                                        <input type="text" class="form-control" id="addressCity" name="addressCity"
                                            formControlName="addressCity" maxlength="100"
                                            [ngClass]="!isValidFormAddressCity() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormAddressCity()" class="text-danger">
                                            City is required
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="addressNeighborhood">Neighborhood:</label> <span
                                            class="star">*</span>
                                        <input type="text" class="form-control" id="addressNeighborhood"
                                            name="addressNeighborhood" formControlName="addressNeighborhood"
                                            maxlength="100"
                                            [ngClass]="!isValidFormAddressNeighborhood() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormAddressNeighborhood()" class="text-danger">
                                            Neighborhood is required
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="addressState">State:</label> <span class="star">*</span>
                                        <input type="text" class="form-control" id="addressState" name="addressState"
                                            formControlName="addressState" maxlength="100"
                                            [ngClass]="!isValidFormAddressState() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormAddressState()" class="text-danger">
                                            State is required
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="addressStreet">Street:</label> <span class="star">*</span>
                                        <input type="text" class="form-control" id="addressStreet" name="addressStreet"
                                            formControlName="addressStreet" maxlength="100"
                                            [ngClass]="!isValidFormAddressStreet() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormAddressStreet()" class="text-danger">
                                            Street is required
                                        </small>
                                    </div>
                                </div>
                               
                            </div>
                           
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="emergencyContactName">Emergency Contact Name:</label> <span
                                            class="star">*</span>
                                        <input type="text" class="form-control" id="emergencyContactName"
                                            name="emergencyContactName" formControlName="emergencyContactName"
                                            maxlength="100"
                                            [ngClass]="!isValidFormEmergencyContactName() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormEmergencyContactName()" class="text-danger">
                                            Emergency Contact Name is required
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="emergencyContactPhoneNumber">Emergency Contact Phone Number:</label>
                                        <span class="star">*</span>
                                        <input type="text" class="form-control" id="emergencyContactPhoneNumber"
                                            name="emergencyContactPhoneNumber"
                                            formControlName="emergencyContactPhoneNumber" maxlength="100"
                                            [ngClass]="!isValidFormEmergencyContactPhoneNumber() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormEmergencyContactPhoneNumber()" class="text-danger">
                                            Emergency Contact Phone Number is required
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phoneNumber">Phone Number:</label> <span class="star">*</span>
                                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                                            formControlName="phoneNumber" maxlength="100"
                                            [ngClass]="!isValidFormPhoneNumber() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormPhoneNumber()" class="text-danger">
                                            Phone Number is required
                                        </small>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                               
                              
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="enableOpt">Enable:</label>
                                        <div class="clearfix"></div>
                                        <bSwitch formControlName="enableOpt" required [switch-on-color]="'primary'">
                                        </bSwitch>
                                    </div>
                                </div>
                            </div>
                            <button [@botaoAnimado]="estadoBotao_goBackToList"
                                (mouseenter)="animarBotao('final', 'goBackToList')"
                                (mouseleave)="animarBotao('inicial', 'goBackToList')" type="button"
                                class="btn btn-wd btn-default" (click)="goBackToList()">
                                <span class="btn-label">
                                    <i class="fa fa-arrow-left"></i>
                                </span>
                                Voltar
                            </button>
                            <button type="button" [@botaoAnimado]="estadoBotao_addRegister"
                                (mouseenter)="animarBotao('final', 'addRegister')"
                                (mouseleave)="animarBotao('inicial', 'addRegister')"
                                class="btn btn-info btn-fill pull-right" (click)="addRegister()"
                                *ngIf="!isUpdateRegister" [disabled]="rF.invalid || this.isModeViewForm">Save</button>

                            <button type="button" [@botaoAnimado]="estadoBotao_updateRegister"
                                (mouseenter)="animarBotao('final','updateRegister')"
                                (mouseleave)="animarBotao('inicial', 'updateRegister')"
                                class="btn btn-info btn-fill pull-right" (click)="updateRegister()"
                                *ngIf="isUpdateRegister" [disabled]="rF.invalid || this.isModeViewForm">Update</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>