<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title" class="lead pb-3" *ngIf="!isUpdateRegister && !isModeViewForm">
                            Add New Language
                        </h4>
                        <h4 class="title" class="lead pb-3" *ngIf="isUpdateRegister">
                            Edit Language
                        </h4>
                        <h4 class="title" class="lead pb-3" *ngIf="isModeViewForm">
                            View Language
                        </h4>
                    </div>
                    <div class="content">
                        <form #rF="ngForm" [formGroup]="registerForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="description">Description:</label> <span class="star">*</span>
                                        <input type="text" class="form-control" id="description" name="description"
                                            formControlName="description" maxlength="50"
                                            [ngClass]="!isValidFormDescription() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormDescription()" class="text-danger">
                                            Description is required
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="language">Language:</label> <span class="star">*</span>
                                        <select formControlName="language" required name="language" class="form-control"
                                            data-style="btn-default btn-block"
                                            [ngClass]="!isValidFormLanguage() ? '' : 'error'" data-title="Select"
                                            data-menu-style="dropdown-blue" (change)="onSelect($event.target.value)">
                                            <option value="">Select</option>
                                            <option *ngFor="let c of languages" [value]="c.code">{{ c.name }}
                                            </option>
                                        </select>
                                        <small [hidden]="!isValidFormLanguage()" class="text-danger">
                                            Language is required
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="languageKey">LanguageKey:</label> <span class="star">*</span>
                                        <input type="text" class="form-control" id="languageKey" name="languageKey"
                                            formControlName="languageKey" maxlength="255"
                                            [ngClass]="!isValidFormLanguageKey() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormLanguageKey()" class="text-danger">
                                            LanguageKey is required
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="languageValue">LanguageValue:</label> <span class="star">*</span>
                                        <input type="text" class="form-control" id="languageValue" name="languageValue"
                                            formControlName="languageValue" maxlength="255"
                                            [ngClass]="!isValidFormLanguageValue() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormLanguageValue()" class="text-danger">
                                            LanguageKey is required
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-4"> 
                                    <div class="form-group">
                                        <label for="resourceKey">ResourceKey:</label> <span class="star">*</span>
                                        <select formControlName="resourceKey" required name="resourceKey" class="form-control"
                                            data-style="btn-default btn-block"
                                            [ngClass]="!isValidFormResourceKey() ? '' : 'error'" data-title="Select"
                                            data-menu-style="dropdown-blue" (change)="onSelect($event.target.value)">
                                            <option value="">Select</option>
                                            <option *ngFor="let c of resourceKeyOpts" [value]="c.code">{{ c.name }}
                                            </option>
                                        </select>
                                        <small [hidden]="!isValidFormResourceKey()" class="text-danger">
                                            ResourceKey is required
                                        </small>
                                    </div> 
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="enableOpt">Enable:</label>
                                        <div class="clearfix"></div>
                                        <bSwitch formControlName="enableOpt" required [switch-on-color]="'primary'">
                                        </bSwitch>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-wd btn-default" (click)="goBackToList()">
                                <span class="btn-label">
                                    <i class="fa fa-arrow-left"></i>
                                </span>
                                Voltar
                            </button>
                            <button type="button" class="btn btn-info btn-fill pull-right" (click)="addRegister()"
                                *ngIf="!isUpdateRegister" [disabled]="rF.invalid || this.isModeViewForm">Save</button>

                            <button type="button" class="btn btn-info btn-fill pull-right" (click)="updateRegister()"
                                *ngIf="isUpdateRegister" [disabled]="rF.invalid || this.isModeViewForm">Update</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>