/*USE [SmartDigitalPsicoDB]
GO 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].#TEMP_ApplicationLanguage(
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Enable] [bit] NULL,
	[Language] [varchar](10) NOT NULL,
	[Description] [varchar](255) NOT NULL,
	[LanguageKey] [varchar](255) NOT NULL,
	[LanguageValue] [varchar](1000) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifyDate] [datetime2](7) NOT NULL,
	[LastAccessDate] [datetime2](7) NOT NULL,
	[ResourceKey ] [varchar](255) NOT NULL,
 CONSTRAINT [PK_ApplicationLanguage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].#TEMP_ApplicationLanguage ON 


*/

DROP  TABLE #TEMP_ApplicationLanguage
SELECT * INTO #TEMP_ApplicationLanguage FROM ApplicationLanguage WHERE 1=2


SET IDENTITY_INSERT [dbo].#TEMP_ApplicationLanguage ON 


INSERT [dbo].#TEMP_ApplicationLanguage ([Id], [Enable], [Language], [Description], [LanguageKey], [LanguageValue], [CreatedDate], [ModifyDate], [LastAccessDate], [ResourceKey ]) VALUES (1, 1, N'pt-BR', N'Default', N'Default_ptbr', N'Padrão', CAST(N'2023-04-10T19:30:11.5035141' AS DateTime2), CAST(N'2023-04-10T19:30:11.5035144' AS DateTime2), CAST(N'2023-04-10T19:30:11.5035145' AS DateTime2), N'ApplicationLanguage')
INSERT [dbo].#TEMP_ApplicationLanguage ([Id], [Enable], [Language], [Description], [LanguageKey], [LanguageValue], [CreatedDate], [ModifyDate], [LastAccessDate], [ResourceKey ]) VALUES (10012, NULL, N'pt-BR', N'Registro encontrado', N'RegisterIsFound', N'Registro encontrado', CAST(N'2023-04-08T15:16:18.6786383' AS DateTime2), CAST(N'2023-04-08T15:16:18.5142594' AS DateTime2), CAST(N'2023-04-08T15:16:18.5142594' AS DateTime2), N'SharedResource')
INSERT [dbo].#TEMP_ApplicationLanguage ([Id], [Enable], [Language], [Description], [LanguageKey], [LanguageValue], [CreatedDate], [ModifyDate], [LastAccessDate], [ResourceKey ]) VALUES (10013, NULL, N'pt-BR', N'Registro não encontrado', N'RegisterIsNotFound', N'Registro não encontrado', CAST(N'2023-04-08T15:18:35.9657058' AS DateTime2), CAST(N'2023-04-08T15:18:35.9626649' AS DateTime2), CAST(N'2023-04-08T15:18:35.9626649' AS DateTime2), N'SharedResource')
SET IDENTITY_INSERT [dbo].#TEMP_ApplicationLanguage OFF
GO
ALTER TABLE [dbo].#TEMP_ApplicationLanguage ADD  DEFAULT ('ApplicationLanguage') FOR [ResourceKey ]
GO

------------------2

TRUNCATE TABLE  ApplicationLanguage

INSERT INTO ApplicationLanguage (Enable,[Language], [Description], [LanguageKey], [LanguageValue], [CreatedDate], [ModifyDate], [LastAccessDate], [ResourceKey ])
SELECT 1, [Language], [Description], [LanguageKey], [LanguageValue], [CreatedDate], [ModifyDate], [LastAccessDate], [ResourceKey ]
FROM #TEMP_ApplicationLanguage 

  
SELECT *   FROM ApplicationLanguage